{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h3>{{ args.title }}</h3>

<form name="input" action="/network" method="get" data-ajax="false" onSubmit="validateForm(this)">
First Author:
<select name="author1">
	<option value="0">[Select Author]</option>
	{% for row in args.authors %}
		<option value={{ row|replace(" ","+",5) }} {% if args.author1 == row|replace(" ","+",5) %} selected="selected"{% endif %}>{{ row }}</option>
	{% endfor %}	
</select>

Second Author:
<select name="author2">
	<option value="0">[Select Author]</option>
	{% for row in args.authors %}
		<option value={{ row|replace(" ","+",5) }} {% if args.author2 == row|replace(" ","+",5) %} selected="selected"{% endif %}>{{ row }}</option>
	{% endfor %}	
</select>

<input type="submit" value="Submit">
</form>

{% if args.author1 != 0 and args.author2 != 0 %}
<br>
<h4>Degree of seperation</h4>
<ul>
  <li>Degree of Separation between {{ args.author1txt }} and {{ args.author2txt }} is {{ args.data[0] }}</li>
  
  {% if args.data[0] == "0"  %}
  	{{ args.author1txt }} -> {{ args.author2txt }}
  {% elif args.data[0] != "X" and args.data[0] != "F" %}
  	{% for path in args.path %}
  		{% for author in path %}
	  		{% if loop.last %}
			  {{ author }} 
			{% else %}
	      	  {{ author }} ->
	       {%endif %}
		{% endfor %}
		<br>
	{% endfor %}
	<img src="{{ url_for('static', filename='images/weighted_graph.png') }}"/>
  {% endif %}
  
  
</ul>
{% endif %}

{% if args.author1 == 0 or args.author2 == 0 %}
<br>
<ul>
  <li>Please enter both authors</li>
</ul>
{% endif %}


<script>
function validateForm(form){
  author1 = form["author1"].value;
  author2 = form["author2"].value;
  if (author1 == "0" || author2 == "0"){
    alert("Enter authors");
    return false;
  }
  return true;
}
</script>
{% endblock %}
