{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h3>{{ args.title }}</h3>

<form name="input" action="/search" method="get" data-ajax="false" onSubmit="validateForm(this)">
Author Name: <input type="text" name="author" value="{{ args.author }}">
<input type="submit" value="Submit">
</form>

{% if args.author == "" %}
	<p>Enter a name above to search the database</p>
{% else %}
	<h4>Search Results for "{{ args.author }}"</h4>


<table class="table table-striped table-hover table-condensed table-responsive">
  <thead>
  	
    <tr>
    	{% if args.data[0]|length > 0 %}
			<th style="padding: 5px; text-align:center;" >{{ args.data[0] }}</th>	
		{% else %}
			<th style="padding: 5px; text-align:center;" >No results Found!</th>
		{% endif %}
    </tr>
    
  </thead>
  <tbody>	
  		{% for row in args.data[1] %}
    	<tr>
			<td style="padding: 5px; text-align:left;">Stats for <a href="/show_author?author={{ row[0]|replace(" ","+",5) }}">{{ row[0] }}</a></td>
    	</tr>
  		{% endfor %}
  </tbody>
</table>
	
{% endif %}

<script>
function validateForm(form){
  author = form["author"].value;
  return true;
}
</script>

{% endblock %}
