{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

<table>
  <thead>
    <tr>
    {% for column in args.data[0] %}
    	{% if args.sort_index == loop.index0 %}
      		<th><a href="{{ args.id }}+{{ loop.index0 }}+true">{{ column }}</a></th>
      	{% else %}
      		<th><a href="{{ args.id }}+{{ loop.index0 }}+false">{{ column }}</a></th>
       {%endif %}
    {% endfor %}
    </tr>
  </thead>

  <tbody> 	
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
      <td>{{ data_item }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
